body {
  background-color: beige;
}

.portfolio-selector.ui.card {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.portfolio.ui.segments, .portfolio.ui.segment {
  width: 600px;
  margin: 10px 0 0 10px;

  .sell-all.ui.button {
    width: 60px;
    padding: 8px 0;
  }

  .profit-red span {
    color: darkred
  }
  .profit-blue span {
    color: blue;
  }
}